[submodule ".vim/bundle/vim-sensible"]
	path = .vim/bundle/vim-sensible
	url = https://github.com/tpope/vim-sensible.git
[submodule ".vim/bundle/vim-cpp-modern"]
	path = .vim/bundle/vim-cpp-modern
	url = https://github.com/bfrg/vim-cpp-modern
